@use 'variaveis';
@use 'hero';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/senhor_dos_aneis_fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corFontePrincipal;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    color: variaveis.$corDoTítulo;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(32px);
}

.title {
    @include title;
}

.title--small {
    @include title(24px);
}